<nav class="navbar has-shadow">
  <div class="navbar-brand">
    <a routerLink="/" class="navbar-item">
      Your Logo
    </a>
    <div class="navbar-burger">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <div class="navbar-menu">
    <div class="navbar-end">
      <a
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}"
        routerLink="/login"
        class="navbar-item"
        *ngIf="!(isLoggedIn$ | async).text"
      >
        <div>
          <button [ngClass]="{'is-success': isLoginActive}" class="button">
            Login
          </button>
        </div>
      </a>

      <a
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}"
        routerLink="/sign-up"
        class="navbar-item"
        *ngIf="!(isLoggedIn$ | async).text"
      >
        <div>
          <button [ngClass]="{'is-success': isSignupActive}" class="button">
            Sign Up
          </button>
        </div>
      </a>

      <a
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}"
        (click)="onLogout()"
        class="navbar-item"
        *ngIf="(isLoggedIn$ | async).text"
      >
        <div>
          <button class="button is-success">
            Logout
          </button>
        </div>
      </a>
    </div>
  </div>
</nav>

<div>
  <router-outlet></router-outlet>
</div>

