<nav class="navbar has-shadow">
  <div class="navbar-brand">
    <a class="navbar-item">
      Your Logo
    </a>
    <div class="navbar-burger">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <div class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item has-dropdown is-hoverable">
        <div class="navbar-link">
          Get Started
        </div>
        <div class="navbar-dropdown">
          <a class="navbar-item">
            <div>
              <span class="icon is-small">
                <i class="fa fa-user-circle-o"></i>
              </span>
              Register
            </div>
          </a>
          <a class="navbar-item">
            <div>
              <span class="icon is-small">
                <i class="fa fa-sign-in-alt"></i>
              </span>
              Login
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
<section class="section">

</section>
